@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/u-WUoqrET9fUeobQW7jkRT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSha1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzBa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/EInbV5DfGHOiMmvb1Xr-hha1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxrsuoFAk0leveMLeqYtnfAY.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/xjAJXh38I15wypJXxuGMBtIh4imgI8P11RFo6YPCPC0.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxmWeb5PoA5ztb49yLyUzH1A.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxoUt79146ZFaIJxILcpzmhI.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxqQf9gnzM91ovO3JZgha9gY.woff) format('woff');
}

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


body {
	color: #3e4d6b;
	font-size: 13px;
	font-family: "Open Sans", Arial, sans-serif;
	background: #2b2d42;
}

a {
	color: #3e4d6b;
	text-decoration: none;
	-moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a:hover {
	text-decoration: underline;
}

#landing {
	overflow: hidden;
	max-width: 1028px;
	margin: 0 auto;
	background: #fff;
	border-top: 5px solid #2b2d42;
	border-bottom: 5px solid #2b2d42;
}

	#landing .top {
		overflow: hidden;
		margin: 20px auto;
	}

		#landing .top h1 {
			float: left;
			margin: 0 40px;
		}

		#landing .top h2 {
			float: right;
			margin: 30px 40px;
			color: #69748a;
		    font-family: "Open Sans", Arial, sans-serif;
		    font-size: 2em;
		    font-weight: 300;
		    letter-spacing: 0.3em;
		    text-transform: uppercase;
		}

			#landing .top h2 strong {
			  font-weight: 700;
			}
	
	#landing .content {
		overflow: hidden;
		background: #e0e1e2;
	}

		#landing .content .left {
			width: 60%;
			float: left;
			overflow: hidden;
			background: #fff;
		}

			#landing .content .left .contact {
				overflow: hidden;
				padding: 30px 40px;
				font-size: 1.2em;
			}

				#landing .content .left .contact strong {
					font-weight: 700;
					text-transform: uppercase;
				}

				#landing .content .left .contact ul {
					float: left;
					width: 50%;
					line-height: 1.4em;
				}

				#landing .content .left .contact ul:first-child {
					width: 60%;
				}

				#landing .content .left .contact ul:last-child {
					width: 40%;
				}

		#landing .content .right {
			float: right;
			position: relative;
			width: 40%;
			overflow: hidden;
		}

			#landing .content .right p {
				margin: 15px 30px;
				font-size: 1.1em;
				line-height: 1.4em;
			}

				#landing .content .right p.bottom {
					text-align: center;
					margin: 30px 0;
				}

				#landing .content .right p.bottom.js {
					position: absolute;
					width: 100%;
					bottom: 0;
				}

			#landing .content .right h2 {
				margin: 15px 30px 20px 30px;
				padding-bottom: 20px;
				font-size: 1.5em;
				font-weight: 700;
				text-transform: uppercase;
				border-bottom: 1px solid #2b2d42;
			}

			#landing .content .right h3 {
				margin: 10px 30px;
				font-size: 1.5em;
				font-weight: 700;
			}
	
	#landing span.price {
		display: inline-block;
		padding: 8px 12px;
		margin: 5px auto;
		color: #fff;
		font-size: 1.5em;
		font-weight: 600;
		background: #3e4d6b;
	}

	#landing .btn {
		display: inline-block;
		margin: 0 auto;
		padding: 10px 20px;
		color: #fff;
		font-size: 1.1em;
		font-weight: 600;
		text-transform: uppercase;
		text-decoration: none;
		background: #57b9ce;
	}

		#landing .btn:hover {
			opacity: .7;
		}

@media(max-width: 980px) {
	#landing .top {
		text-align: center;
	}

		#landing .top h1 {
			float: none;
		}

		#landing .top h2 {
			float: none;
		}
	
	#landing .content .left,
	#landing .content .right {
		width: auto;
		float: none;
	}
}

@media(max-width: 640px) {
	#landing .content .left figure img {
		max-height: 300px;
	}

	#landing .content .left .contact {
		padding: 30px 15px;
	}

		#landing .content .left .contact ul:first-child {
			width: 50%;
		}

		#landing .content .left .contact ul:last-child {
			width: 50%;
		}
}