
	<section class="home-section popular-entries">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6 about">
					<h2>Najczęściej wyszukiwane</h2>
					<i class="icon-search"></i>
				</div>
				<!-- .col-md-3 -->

				<div class="col-md-3 col-sm-6">
					<h4>Nowe inwestycje</h4>
					<nav>
						<ul>
							<li><a href="#">Angel City</a></li>
							<li><a href="#">Angel Plaza</a></li>
							<li><a href="#">Browar Lubicz</a></li>
							<li><a href="#">Garden Residence</a></li>
							<li><a href="#">Parkowe Wzgórze</a></li>
							<li><a href="#">Parkside Residence</a></li>
							<li><a href="#">Plac na Groblach 5</a></li>
							<li><a href="#">Rakowicka 8</a></li>
						</ul>
					</nav>
				</div>
				<!-- .col-md-3 -->

				<div class="col-md-3 col-sm-6">
					<h4>Wynajem</h4>
					<nav>
						<ul>
							<li><a href="#">Kawalerki</a></li>
							<li><a href="#">Mieszkania dwupokojowe</a></li>
							<li><a href="#">Mieszkania trzypokojowe</a></li>
							<li><a href="#">Apartamenty czteropokojowe</a></li>
							<li><a href="#">Apartamenty pięciopokojowe</a></li>
							<li><a href="#">Domy</a></li>
							<li><a href="#">Penthousy i apartamenty</a></li>
							<li><a href="#">Mieszkania dla studentów</a></li>
						</ul>
					</nav>
				</div>
				<!-- .col-md-3 -->

				<div class="col-md-3 col-sm-6">
					<h4>Sprzedaż</h4>
					<nav>
						<ul>
							<li><a href="#">Kawalerki</a></li>
							<li><a href="#">Mieszkania dwupokojowe</a></li>
							<li><a href="#">Mieszkania trzypokojowe</a></li>
							<li><a href="#">Apartamenty czteropokojowe</a></li>
							<li><a href="#">Apartamenty pięciopokojowe</a></li>
							<li><a href="#">Domy</a></li>
							<li><a href="#">Penthousy i apartamenty luksusowe</a></li>
						</ul>
					</nav>
				</div>
				<!-- .col-md-3 -->
			</div>
			<!-- .row -->

			<div data-expandable>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<h4>Sprzedaż</h4>
						<nav>
							<ul>
								<li><a href="#">Kawalerki</a></li>
								<li><a href="#">Mieszkania dwupokojowe</a></li>
								<li><a href="#">Mieszkania trzypokojowe</a></li>
								<li><a href="#">Apartamenty czteropokojowe</a></li>
								<li><a href="#">Apartamenty pięciopokojowe</a></li>
								<li><a href="#">Domy</a></li>
								<li><a href="#">Penthousy i apartamenty luksusowe</a></li>
							</ul>
						</nav>
					</div>
					<!-- .col-md-3 -->

					<div class="col-md-3 col-sm-6">
						<h4>Nowe inwestycje</h4>
						<nav>
							<ul>
								<li><a href="#">Angel City</a></li>
								<li><a href="#">Angel Plaza</a></li>
								<li><a href="#">Browar Lubicz</a></li>
								<li><a href="#">Garden Residence</a></li>
								<li><a href="#">Parkowe Wzgórze</a></li>
								<li><a href="#">Parkside Residence</a></li>
								<li><a href="#">Plac na Groblach 5</a></li>
								<li><a href="#">Rakowicka 8</a></li>
							</ul>
						</nav>
					</div>
					<!-- .col-md-3 -->

					<div class="col-md-3 col-sm-6">
						<h4>Wynajem</h4>
						<nav>
							<ul>
								<li><a href="#">Kawalerki</a></li>
								<li><a href="#">Mieszkania dwupokojowe</a></li>
								<li><a href="#">Mieszkania trzypokojowe</a></li>
								<li><a href="#">Apartamenty czteropokojowe</a></li>
								<li><a href="#">Apartamenty pięciopokojowe</a></li>
								<li><a href="#">Domy</a></li>
								<li><a href="#">Penthousy i apartamenty</a></li>
								<li><a href="#">Mieszkania dla studentów</a></li>
							</ul>
						</nav>
					</div>
					<!-- .col-md-3 -->

					<div class="col-md-3 col-sm-6">
						<h4>Sprzedaż</h4>
						<nav>
							<ul>
								<li><a href="#">Kawalerki</a></li>
								<li><a href="#">Mieszkania dwupokojowe</a></li>
								<li><a href="#">Mieszkania trzypokojowe</a></li>
								<li><a href="#">Apartamenty czteropokojowe</a></li>
								<li><a href="#">Apartamenty pięciopokojowe</a></li>
								<li><a href="#">Domy</a></li>
								<li><a href="#">Penthousy i apartamenty luksusowe</a></li>
							</ul>
						</nav>
					</div>
					<!-- .col-md-3 -->
				</div>
				<!-- .row -->
			</div>
			<!-- [data-expandable] -->

			<div class="expander">
				<span><a href="#" data-expand data-collapse-label="Zwiń">Rozwiń</a></span>
			</div>
			<!-- .expander -->
		</div>
		<!-- .container -->
	</section>
	<!-- .popular-entries -->

	<div id="footer">
		<div class="container">
			<div class="row hidden-xs">
				<h3 class="slogan"><strong>Luxury</strong> Realty Estate Agency</h3>
			</div>
			<!-- .row -->

			<div class="row">
				<div class="col-md-3 col-sm-12 col-sm-12">
					<a href="#"><img src="images/logo-dark.png" alt=""></a>
				</div>
				<!-- .col-md-3 -->

				<div class="col-md-3 col-sm-4 col-xs-6">
					<p>ul. Puławska 10 lok. 26<br>02-566 Warszawa</p>
				</div>
				<!-- .col-md-3 -->

				<div class="col-md-3 col-sm-4 col-xs-6">
					<p class="big">Telefon<br><strong>+ 48 22 856 78 60</strong></p>
				</div>
				<!-- .col-md-3 -->

				<div class="col-md-3 col-sm-4 col-xs-12">
					<p class="big">Email<br><strong><a href="#">biuro@crystalhouse.pl</a></strong></p>

					<ul class="socials">
						<li><a href="#"><img src="images/icons/socials/pinterest.png" alt=""></a></li>
						<li><a href="#"><img src="images/icons/socials/facebook.png" alt=""></a></li>
						<li><a href="#"><img src="images/icons/socials/googleplus.png" alt=""></a></li>
						<li><a href="#"><img src="images/icons/socials/twitter.png" alt=""></a></li>
						<li><a href="#"><img src="images/icons/socials/youtube.png" alt=""></a></li>
					</ul>
				</div>
				<!-- .col-md-3 -->
			</div>
			<!-- .row -->
		</div>
		<!-- .container -->

		<div class="copyrights">
			<div class="container">
				<p>&copy; 2014 <a href="#">crystalhouse</a></p>
			</div>
			<!-- .container -->
		</div>
		<!-- .copyrights -->
	</div>
	<!-- #footer -->

	<!-- @include{.scripts.html} -->
</body>
</html>