<!-- @include{.header.html} -->

	<div id="home-theatre">
		<div class="viewport">
			<a href="javascript:void(0);" class="prev"></a>
			<a href="javascript:void(0);" class="next"></a>
			<div class="dots"><ul></ul></div>

			<div class="slides">
				<figure>
					<img src="http://www.fitnessshowrooms.com/images/backgrounds/bg12.jpg" width="1920" height="1200" alt="">
					<figcaption>
						<div class="container">
							<p>Testowy slajd</p>
						</div>
						<!-- .container -->
					</figcaption>
				</figure>

				<figure>
					<img src="tmp/slide-1.jpg" alt="">
					<figcaption>
						<div class="container">
							<p><span class="price">1 500 000 PLN</span> <a href="#">Luksusowy Apartament w Centrum Warszawy</a></p>
						</div>
						<!-- .container -->
					</figcaption>
				</figure>

				<figure>
					<img src="tmp/slide-2.jpg" alt="">
					<figcaption>
						<div class="container">
							<p><span class="price">554 000 PLN</span> <a href="#">Kolejna nieruchomość</a></p>
						</div>
						<!-- .container -->
					</figcaption>
				</figure>

				<figure>
					<img src="tmp/slide-3.jpg" alt="">
					<figcaption>
						<div class="container">
							<p><span class="price">5 000 PLN</span> <a href="#">Tańsza nieruchomość w centrum Poznania</a></p>
						</div>
						<!-- .container -->
					</figcaption>
				</figure>

				<figure>
					<img src="tmp/slide-4.jpg" alt="">
					<figcaption>
						<div class="container">
							<p><span class="price">4 500 000 PLN</span> <a href="#">Luksusowy Apartament z widokiem na morze</a></p>
						</div>
						<!-- .container -->
					</figcaption>
				</figure>

				<figure>
					<img src="tmp/slide-5.jpg" alt="">
					<figcaption>
						<div class="container">
							<p><span class="price">2 554 000 PLN</span> <a href="#">Nieruchomość z prywatną plażą</a></p>
						</div>
						<!-- .container -->
					</figcaption>
				</figure>

				<figure>
					<img src="tmp/slide-6.jpg" alt="">
					<figcaption>
						<div class="container">
							<p><span class="price">97 000 PLN</span> <a href="#">Ekskluzywny apartament</a></p>
						</div>
						<!-- .container -->
					</figcaption>
				</figure>
			</div>
			<!-- .slides -->
		</div>
		<!-- .viewport -->
	</div>
	<!-- #home-theatre -->

	<section class="widget offers-home-filters default">
		<div class="container">
			<form method="get" action="#" style="">
				<div class="row search-query">
					<div class="col-md-12">
						<label><input type="text" placeholder="wpisz nr oferty, miasto, ulicę"></label>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3 side">
						<fieldset class="offer-type inline-radios">
							<label>Chcę kupić <input type="radio" name="cat" value="buy" checked="checked"></label>
							<label>Chcę wynająć <input type="radio" name="cat" value="rent"></label>
						</fieldset>
						<fieldset class="offer-currency">
							<label>Waluta</label>
							<select name="currency">
								<option value="PLN">PLN</option>
								<option value="EUR">EUR</option>
								<option value="USD">USD</option>
							</select>
						</fieldset>
					</div>
					<!-- .col-md-3 -->

					<div class="col-md-9 fields buy" style="display: none;">
						<div class="col-md-4">
							<fieldset>
								<label>Typ nieruchomości</label>
								<select name="type">
									<option value="all">Wszystkie</option>
									<option value="apartment">Apartament</option>
									<option value="house">Dom</option>
									<option value="lot">Działka</option>
								</select>
							</fieldset>
						</div>
						<!-- .col-md-4 -->

						<div class="col-md-4" style="display: none;">
							<fieldset>
								<label>Typ działki</label>
								<select name="lot_type">
									<option value="construction">Budowlana</option>
									<option value="recreational">Rekreacyjna</option>
									<option value="agricultural">Rolna</option>
									<option value="investment">Inwestycyjna</option>
									<option value="industrial">Przemysłowa</option>
								</select>
							</fieldset>
						</div>
						<!-- .col-md-4 -->

						<div class="col-md-4">
							<fieldset class="row">
								<label class="col-md-12">Cena</label>
								<div class="col-md-6">
									<select name="price[from]">
										<option>Od</option>
										<option value="0">0</option>
										<option value="1000000">1.000.000</option>
										<option value="3000000">3.000.000</option>
										<option value="5000000">5.000.000</option>
									</select>
								</div>
								<!-- .col-md-6 -->

								<div class="col-md-6">
									<select name="price[to]">
										<option>Do</option>
										<option value="1000000">1.000.000</option>
										<option value="3000000">3.000.000</option>
										<option value="5000000">5.000.000</option>
										<option value=">5000000">5.000.000+</option>
									</select>
								</div>
								<!-- .col-md-6 -->
							</fieldset>
						</div>
						<!-- .col-md-4 -->

						<div class="col-md-4">
							<fieldset class="row">
								<label class="col-md-12">Powierzchnia (m<sup>2</sup>)</label>
								<div class="col-md-6">
									<select name="area[from]">
										<option>Od</option>
										<option value="0">0</option>
										<option value="100">100</option>
										<option value="200">200</option>
										<option value="400">400</option>
									</select>
								</div>
								<!-- .col-md-6 -->

								<div class="col-md-6">
									<select name="area[to]">
										<option>Do</option>
										<option value="100">100</option>
										<option value="200">200</option>
										<option value="400">400</option>
										<option value=">400">400+</option>
									</select>
								</div>
								<!-- .col-md-6 -->
							</fieldset>
						</div>
						<!-- .col-md-4 -->

						<div class="col-md-4" style="display: none;">
							<fieldset class="row">
								<label class="col-md-12">Powierzchnia działki (m<sup>2</sup>)</label>
								<div class="col-md-6">
									<select name="area_lot[from]">
										<option>Od</option>
										<option value="0">0</option>
										<option value="500">500</option>
										<option value="1000">1000</option>
										<option value="3000">3000</option>
									</select>
								</div>
								<!-- .col-md-6 -->

								<div class="col-md-6">
									<select name="area_lot[to]">
										<option>Do</option>
										<option value="500">100</option>
										<option value="1000">1000</option>
										<option value="3000">3000</option>
										<option value=">3000">3000+</option>
									</select>
								</div>
								<!-- .col-md-6 -->
							</fieldset>
						</div>
						<!-- .col-md-4 -->

						<div class="col-md-4" style="display: none;">
							<fieldset>
								<label>Województwo</label>
								<select name="province">
									<option>Wybierz</option>
								</select>
							</fieldset>
						</div>
						<!-- .col-md-4 -->

						<div class="col-md-4">
							<fieldset>
								<label>Miasto</label>
								<select name="city">
									<option>Wybierz</option>
								</select>
							</fieldset>
						</div>
						<!-- .col-md-4 -->

						<div class="col-md-4">
							<fieldset>
								<label>Dzielnica</label>
								<select name="district">
									<option>Wybierz</option>
								</select>
							</fieldset>
						</div>
						<!-- .col-md-4 -->

						<div class="col-md-4" style="display: none;">
							<fieldset class="row">
								<label class="col-md-12">Rok budowy</label>
								<div class="col-md-6">
									<input type="text" name="year_build[from]" placeholder="Od" maxlength="4">
								</div>
								<!-- .col-md-6 -->

								<div class="col-md-6">
									<input type="text" name="year_build[to]" placeholder="Do" maxlength="4">
								</div>
								<!-- .col-md-6 -->
							</fieldset>
						</div>
						<!-- .col-md-4 -->

						<div class="col-md-4" style="display: none;">
							<fieldset>
								<label>Odległość od centrum</label>
								<select name="center_distance">
									<option value="">Wybierz</option>
									<option value="<1">do 1 km</option>
									<option value="<2">do 2 km</option>
									<option value="<5">do 5 km</option>
									<option value="<10">do 10 km</option>
									<option value=">10">powyżej 10 km</option>
								</select>
							</fieldset>
						</div>
						<!-- .col-md-4 -->

						<div class="col-md-4" style="display: none;">
							<fieldset class="row">
								<label class="col-md-12">Liczba pokoi</label>
								<div class="col-md-6">
									<select name="rooms[from]">
										<option>Od</option>
										<option value="1">1</option>
										<option value="3">3</option>
										<option value="5">5</option>
									</select>
								</div>
								<!-- .col-md-6 -->

								<div class="col-md-6">
									<select name="rooms[to]">
										<option>Do</option>
										<option value="3">3</option>
										<option value="5">5</option>
										<option value=">5">5</option>
									</select>
								</div>
								<!-- .col-md-6 -->
							</fieldset>
						</div>
						<!-- .col-md-4 -->

						<div class="col-md-4" style="display: none;">
							<fieldset class="row">
								<label class="col-md-12">Liczba łazienek</label>
								<div class="col-md-6">
									<select name="bathrooms[from]">
										<option>Od</option>
										<option value="1">1</option>
										<option value="3">3</option>
										<option value="5">5</option>
									</select>
								</div>
								<!-- .col-md-6 -->

								<div class="col-md-6">
									<select name="bathrooms[to]">
										<option>Do</option>
										<option value="3">3</option>
										<option value="5">5</option>
										<option value=">5">5</option>
									</select>
								</div>
								<!-- .col-md-6 -->
							</fieldset>
						</div>
						<!-- .col-md-4 -->

						<div class="col-md-4">
							<fieldset class="row">
								<div class="col-md-6">
									<label>&nbsp;</label>
									<input type="submit" value="Szukaj" class="btn search">
								</div>
								<!-- .col-md-6 -->

								<div class="col-md-6">
									<label>&nbsp;</label>
									<a href="#" class="advanced-search" data-label-close="Zamknij" style="display: none;">Wyszukiwarka zaawansowana</a>
								</div>
								<!-- .col-md-6 -->
							</fieldset>
						</div>
						<!-- .col-md-4 -->
					</div>
					<!-- .fields -->

					<div class="col-md-9 fields rent">
						<div class="col-md-4">
							<fieldset>
								<label>Typ nieruchomości</label>
								<select name="type">
									<option value="apartment">Apartament</option>
									<option value="house">Dom</option>
								</select>
							</fieldset>
						</div>
						<!-- .col-md-4 -->

						<div class="col-md-4">
							<fieldset>
								<label>Typ wynajmu</label>
								<select name="rent_type">
									<option value="12">Długoterminowy</option>
									<option value="10">Krótkoterminowy</option>
								</select>
							</fieldset>
						</div>
						<!-- .col-md-4 -->

						<div class="col-md-4">
							<fieldset class="row">
								<label class="col-md-12">Cena za miesiąc</label>
								<div class="col-md-6">
									<select name="price[from]">
										<option>Od</option>
										<option value="0">0</option>
										<option value="1000000">1.000.000</option>
										<option value="3000000">3.000.000</option>
										<option value="5000000">5.000.000</option>
									</select>
								</div>
								<!-- .col-md-6 -->

								<div class="col-md-6">
									<select name="price[to]">
										<option>Do</option>
										<option value="1000000">1.000.000</option>
										<option value="3000000">3.000.000</option>
										<option value="5000000">5.000.000</option>
										<option value=">5000000">5.000.000+</option>
									</select>
								</div>
								<!-- .col-md-6 -->
							</fieldset>
						</div>
						<!-- .col-md-4 -->

						<div class="col-md-4 rent-price" style="display: none;">
							<fieldset class="row">
								<label class="col-md-12">Cena za dobę</label>
								<div class="col-md-6">
									<select name="price[from]">
										<option>Od</option>
										<option value="0">0</option>
										<option value="1000000">1.000.000</option>
										<option value="3000000">3.000.000</option>
										<option value="5000000">5.000.000</option>
									</select>
								</div>
								<!-- .col-md-6 -->

								<div class="col-md-6">
									<select name="price[to]">
										<option>Do</option>
										<option value="1000000">1.000.000</option>
										<option value="3000000">3.000.000</option>
										<option value="5000000">5.000.000</option>
										<option value=">5000000">5.000.000+</option>
									</select>
								</div>
								<!-- .col-md-6 -->
							</fieldset>
						</div>
						<!-- .col-md-4 -->

						<div class="col-md-4">
							<fieldset>
								<label>Miasto</label>
								<select name="city">
									<option>Wybierz</option>
								</select>
							</fieldset>
						</div>
						<!-- .col-md-4 -->

						<div class="col-md-4">
							<fieldset>
								<label>Dzielnica</label>
								<select name="district">
									<option>Wybierz</option>
								</select>
							</fieldset>
						</div>
						<!-- .col-md-4 -->

						<div class="col-md-4">
							<fieldset class="row">
								<label class="col-md-12">Powierzchnia (m<sup>2</sup>)</label>
								<div class="col-md-6">
									<select name="area[from]">
										<option>Od</option>
										<option value="0">0</option>
										<option value="100">100</option>
										<option value="200">200</option>
										<option value="400">400</option>
									</select>
								</div>
								<!-- .col-md-6 -->

								<div class="col-md-6">
									<select name="area[to]">
										<option>Do</option>
										<option value="100">100</option>
										<option value="200">200</option>
										<option value="400">400</option>
										<option value=">400">400+</option>
									</select>
								</div>
								<!-- .col-md-6 -->
							</fieldset>
						</div>
						<!-- .col-md-4 -->

						<div class="col-md-4">
							<fieldset class="row">
								<label class="col-md-12">Liczba pokoi</label>
								<div class="col-md-6">
									<select name="rooms[from]">
										<option>Od</option>
										<option value="1">1</option>
										<option value="3">3</option>
										<option value="5">5</option>
									</select>
								</div>
								<!-- .col-md-6 -->

								<div class="col-md-6">
									<select name="rooms[to]">
										<option>Do</option>
										<option value="3">3</option>
										<option value="5">5</option>
										<option value=">5">5</option>
									</select>
								</div>
								<!-- .col-md-6 -->
							</fieldset>
						</div>
						<!-- .col-md-4 -->

						<div class="col-md-4">
							<fieldset class="row">
								<label class="col-md-12">Liczba łazienek</label>
								<div class="col-md-6">
									<select name="bathrooms[from]">
										<option>Od</option>
										<option value="1">1</option>
										<option value="3">3</option>
										<option value="5">5</option>
									</select>
								</div>
								<!-- .col-md-6 -->

								<div class="col-md-6">
									<select name="bathrooms[to]">
										<option>Do</option>
										<option value="3">3</option>
										<option value="5">5</option>
										<option value=">5">5</option>
									</select>
								</div>
								<!-- .col-md-6 -->
							</fieldset>
						</div>
						<!-- .col-md-4 -->

						<div class="col-md-4" style="display: none;">
							<fieldset>
								<label>Odległość od centrum</label>
								<select name="center_distance">
									<option value="">Wybierz</option>
									<option value="<1">do 1 km</option>
									<option value="<2">do 2 km</option>
									<option value="<5">do 5 km</option>
									<option value="<10">do 10 km</option>
									<option value=">10">powyżej 10 km</option>
								</select>
							</fieldset>
						</div>
						<!-- .col-md-4 -->

						<div class="col-md-4">
							<fieldset class="row">
								<div class="col-md-6"></div>
								<!-- .col-md-6 -->

								<div class="col-md-6">
									<label>&nbsp;</label>
									<input type="submit" value="Szukaj" class="btn search">
								</div>
								<!-- .col-md-6 -->
							</fieldset>
						</div>
						<!-- .col-md-4 -->
					</div>
					<!-- .fields -->
				</div>
			</form>
		</div>
		<!-- .container -->
	</section>
	<!-- .offers-filter.home -->

	<script type="text/javascript" src="offers-home-filters.js"></script>

	<section class="home-section">
		<div class="widget offers-carousel container">
			<div class="header">
				<h2><a href="#">Oferty na wyłączność</a></h2>
				
				<div class="toolbar">
					<span class="links"><a href="#">Zobacz wszystkie</a></span>
					<span class="carousel-controller"><a href="javascript:void(0);" class="prev">Poprzednie</a> <a href="javascript:void(0);" class="next">Następne</a></span>
				</div>
				<!-- .toolbar -->
			</div>
			<!-- .header -->

			<section class="entries">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="offer">
							<figure>
								<a href="#"><img src="tmp/estate-thumb-1.jpg" alt=""></a>
								<figcaption><span>Na wyłączność</span></figcaption>
							</figure>

							<article>
								<div class="body">
									<h4><a href="#">Luksusowy apartament w centrum Warszawy</a></h4>
									<ul class="fields">
										<li><strong>Miasto:</strong> Warszawa</li>
										<li><strong>Dzielnica:</strong> Mokotów</li>
									</ul>
									<p class="price">4 680 000 <small>PLN</small></p>
									<p class="meta">
										<span class="left"><i class="icon-offer-area"></i> 12226 m<sup>2</sup></span>
										<span class="right"><i class="icon-offer-bedroom"></i> 969</span>
									</p>
								</div>
								<!-- .body -->

								<nav class="side">
									<ul>
										<li><a href="#" data-toggle="tooltip" title="Zapytaj o cenę"><i class="icon-offer-question"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Dodaj do schowka" data-addtoclipboard="1234"><i class="icon-offer-clipboard"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Zobacz więcej" class="block"><i class="icon-offer-more"></i></a></li>
									</ul>
								</nav>
								<!-- .side -->
							</article>
						</div>
						<!-- .offer -->
					</div>
					<!-- .col-md-4 -->

					<div class="col-md-4 col-sm-6">
						<div class="offer">
							<figure>
								<a href="#"><img src="tmp/estate-thumb-2.jpg" alt=""></a>
								<figcaption><span>Na wyłączność</span></figcaption>
							</figure>

							<article>
								<div class="body">
									<h4><a href="#">Luksusowy apartament w centrum Warszawy</a></h4>
									<ul class="fields">
										<li><strong>Miasto:</strong> Warszawa</li>
										<li><strong>Dzielnica:</strong> Mokotów</li>
									</ul>
									<p class="price">4 680 000 <small>PLN</small></p>
									<p class="meta">
										<span class="left"><i class="icon-offer-area"></i> 12226 m<sup>2</sup></span>
										<span class="right"><i class="icon-offer-bedroom"></i> 969</span>
									</p>
								</div>
								<!-- .body -->

								<nav class="side">
									<ul>
										<li><a href="#" data-toggle="tooltip" title="Zapytaj o cenę"><i class="icon-offer-question"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Dodaj do schowka" data-addtoclipboard="1234"><i class="icon-offer-clipboard"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Zobacz więcej" class="block"><i class="icon-offer-more"></i></a></li>
									</ul>
								</nav>
								<!-- .side -->
							</article>
						</div>
						<!-- .offer -->
					</div>
					<!-- .col-md-4 -->

					<div class="col-md-4 col-sm-6">
						<div class="offer">
							<figure>
								<a href="#">
									<em class="label"><img src="images/icons/no-fee-pl.png" alt=""></em>
								<img src="tmp/estate-thumb-3.jpg" alt=""></a>
								<figcaption><span>Nowa oferta | Na wyłączność</span></figcaption>
							</figure>

							<article>
								<div class="body">
									<h4><a href="#">Luksusowy apartament w centrum Warszawy</a></h4>
									<ul class="fields">
										<li><strong>Miasto:</strong> Warszawa</li>
										<li><strong>Dzielnica:</strong> Mokotów</li>
									</ul>
									<p class="price">4 680 000 <small>PLN</small></p>
									<p class="meta">
										<span class="left"><i class="icon-offer-area"></i> 12226 m<sup>2</sup></span>
										<span class="right"><i class="icon-offer-bedroom"></i> 969</span>
									</p>
								</div>
								<!-- .body -->

								<nav class="side">
									<ul>
										<li><a href="#" data-toggle="tooltip" title="Zapytaj o cenę"><i class="icon-offer-question"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Dodaj do schowka" data-addtoclipboard="1234"><i class="icon-offer-clipboard"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Zobacz więcej" class="block"><i class="icon-offer-more"></i></a></li>
									</ul>
								</nav>
								<!-- .side -->
							</article>
						</div>
						<!-- .offer -->
					</div>
					<!-- .col-md-4 -->

					<div class="col-md-4 col-sm-6">
						<div class="offer">
							<figure>
								<a href="#"><img src="tmp/estate-thumb-2.jpg" alt=""></a>
								<figcaption><span>Na wyłączność</span></figcaption>
							</figure>

							<article>
								<div class="body">
									<h4><a href="#">Luksusowy apartament w centrum Warszawy</a></h4>
									<ul class="fields">
										<li><strong>Miasto:</strong> Warszawa</li>
										<li><strong>Dzielnica:</strong> Mokotów</li>
									</ul>
									<p class="price">4 680 000 <small>PLN</small></p>
									<p class="meta">
										<span class="left"><i class="icon-offer-area"></i> 12226 m<sup>2</sup></span>
										<span class="right"><i class="icon-offer-bedroom"></i> 969</span>
									</p>
								</div>
								<!-- .body -->

								<nav class="side">
									<ul>
										<li><a href="#" data-toggle="tooltip" title="Zapytaj o cenę"><i class="icon-offer-question"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Dodaj do schowka" data-addtoclipboard="1234"><i class="icon-offer-clipboard"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Zobacz więcej" class="block"><i class="icon-offer-more"></i></a></li>
									</ul>
								</nav>
								<!-- .side -->
							</article>
						</div>
						<!-- .offer -->
					</div>
					<!-- .col-md-4 -->

					<div class="col-md-4 col-sm-6">
						<div class="offer">
							<figure>
								<a href="#"><img src="tmp/estate-thumb-3.jpg" alt=""></a>
								<figcaption><span>Na wyłączność</span></figcaption>
							</figure>

							<article>
								<div class="body">
									<h4><a href="#">Luksusowy apartament w centrum Warszawy</a></h4>
									<ul class="fields">
										<li><strong>Miasto:</strong> Warszawa</li>
										<li><strong>Dzielnica:</strong> Mokotów</li>
									</ul>
									<p class="price">4 680 000 <small>PLN</small></p>
									<p class="meta">
										<span class="left"><i class="icon-offer-area"></i> 12226 m<sup>2</sup></span>
										<span class="right"><i class="icon-offer-bedroom"></i> 969</span>
									</p>
								</div>
								<!-- .body -->

								<nav class="side">
									<ul>
										<li><a href="#" data-toggle="tooltip" title="Zapytaj o cenę"><i class="icon-offer-question"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Dodaj do schowka" data-addtoclipboard="1234"><i class="icon-offer-clipboard"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Zobacz więcej" class="block"><i class="icon-offer-more"></i></a></li>
									</ul>
								</nav>
								<!-- .side -->
							</article>
						</div>
						<!-- .offer -->
					</div>
					<!-- .col-md-4 -->

					<div class="col-md-4 col-sm-6">
						<div class="offer">
							<figure>
								<a href="#">
									<em class="label"><img src="images/icons/no-fee-pl.png" alt=""></em>
								<img src="tmp/estate-thumb-1.jpg" alt=""></a>
								<figcaption><span>Nowa oferta | Na wyłączność</span></figcaption>
							</figure>

							<article>
								<div class="body">
									<h4><a href="#">Luksusowy apartament w centrum Warszawy</a></h4>
									<ul class="fields">
										<li><strong>Miasto:</strong> Warszawa</li>
										<li><strong>Dzielnica:</strong> Mokotów</li>
									</ul>
									<p class="price">4 680 000 <small>PLN</small></p>
									<p class="meta">
										<span class="left"><i class="icon-offer-area"></i> 12226 m<sup>2</sup></span>
										<span class="right"><i class="icon-offer-bedroom"></i> 969</span>
									</p>
								</div>
								<!-- .body -->

								<nav class="side">
									<ul>
										<li><a href="#" data-toggle="tooltip" title="Zapytaj o cenę"><i class="icon-offer-question"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Dodaj do schowka"><i class="icon-offer-clipboard"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Zobacz więcej" class="block"><i class="icon-offer-more"></i></a></li>
									</ul>
								</nav>
								<!-- .side -->
							</article>
						</div>
						<!-- .offer -->
					</div>
					<!-- .col-md-4 -->
				</div>
				<!-- .row -->
			</section>
			<!-- .entries -->
		</div>
		<!-- .widget.offers-carousel -->
	</section>
	<!-- .home-section -->

	<section class="home-section">
		<div class="widget offers-carousel container">
			<div class="header">
				<h2><a href="#">Polecane oferty</a></h2>
				
				<div class="toolbar">
					<span class="links"><a href="#">Zobacz wszystkie</a></span>
					<span class="carousel-controller"><a href="javascript:void(0);" class="prev">Poprzednie</a> <a href="javascript:void(0);" class="next">Następne</a></span>
				</div>
				<!-- .toolbar -->
			</div>
			<!-- .header -->

			<section class="entries">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="offer">
							<figure>
								<a href="#"><img src="tmp/estate-thumb-1.jpg" alt=""></a>
								<figcaption><span>Na wyłączność</span></figcaption>
							</figure>

							<article>
								<div class="body">
									<h4><a href="#">Luksusowy apartament w centrum Warszawy</a></h4>
									<ul class="fields">
										<li><strong>Miasto:</strong> Warszawa</li>
										<li><strong>Dzielnica:</strong> Mokotów</li>
									</ul>
									<p class="price">4 680 000 <small>PLN</small></p>
									<p class="meta">
										<span class="left"><i class="icon-offer-area"></i> 12226 m<sup>2</sup></span>
										<span class="right"><i class="icon-offer-bedroom"></i> 969</span>
									</p>
								</div>
								<!-- .body -->

								<nav class="side">
									<ul>
										<li><a href="#" data-toggle="tooltip" title="Zapytaj o cenę"><i class="icon-offer-question"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Dodaj do schowka"><i class="icon-offer-clipboard"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Zobacz więcej" class="block"><i class="icon-offer-more"></i></a></li>
									</ul>
								</nav>
								<!-- .side -->
							</article>
						</div>
						<!-- .offer -->
					</div>
					<!-- .col-md-4 -->

					<div class="col-md-4 col-sm-6">
						<div class="offer">
							<figure>
								<a href="#"><img src="tmp/estate-thumb-2.jpg" alt=""></a>
								<figcaption><span>Na wyłączność</span></figcaption>
							</figure>

							<article>
								<div class="body">
									<h4><a href="#">Luksusowy apartament w centrum Warszawy</a></h4>
									<ul class="fields">
										<li><strong>Miasto:</strong> Warszawa</li>
										<li><strong>Dzielnica:</strong> Mokotów</li>
									</ul>
									<p class="price">4 680 000 <small>PLN</small></p>
									<p class="meta">
										<span class="left"><i class="icon-offer-area"></i> 12226 m<sup>2</sup></span>
										<span class="right"><i class="icon-offer-bedroom"></i> 969</span>
									</p>
								</div>
								<!-- .body -->

								<nav class="side">
									<ul>
										<li><a href="#" data-toggle="tooltip" title="Zapytaj o cenę"><i class="icon-offer-question"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Dodaj do schowka"><i class="icon-offer-clipboard"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Zobacz więcej" class="block"><i class="icon-offer-more"></i></a></li>
									</ul>
								</nav>
								<!-- .side -->
							</article>
						</div>
						<!-- .offer -->
					</div>
					<!-- .col-md-4 -->

					<div class="col-md-4 col-sm-6">
						<div class="offer">
							<figure>
								<a href="#"><img src="tmp/estate-thumb-3.jpg" alt=""></a>
								<figcaption><span>Nowa oferta | Na wyłączność</span></figcaption>
							</figure>

							<article>
								<div class="body">
									<h4><a href="#">Luksusowy apartament w centrum Warszawy</a></h4>
									<ul class="fields">
										<li><strong>Miasto:</strong> Warszawa</li>
										<li><strong>Dzielnica:</strong> Mokotów</li>
									</ul>
									<p class="price">4 680 000 <small>PLN</small></p>
									<p class="meta">
										<span class="left"><i class="icon-offer-area"></i> 12226 m<sup>2</sup></span>
										<span class="right"><i class="icon-offer-bedroom"></i> 969</span>
									</p>
								</div>
								<!-- .body -->

								<nav class="side">
									<ul>
										<li><a href="#" data-toggle="tooltip" title="Zapytaj o cenę"><i class="icon-offer-question"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Dodaj do schowka"><i class="icon-offer-clipboard"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Zobacz więcej" class="block"><i class="icon-offer-more"></i></a></li>
									</ul>
								</nav>
								<!-- .side -->
							</article>
						</div>
						<!-- .offer -->
					</div>
					<!-- .col-md-4 -->

					<div class="col-md-4 col-sm-6">
						<div class="offer">
							<figure>
								<a href="#"><img src="tmp/estate-thumb-1.jpg" alt=""></a>
								<figcaption><span>Na wyłączność</span></figcaption>
							</figure>

							<article>
								<div class="body">
									<h4><a href="#">Luksusowy apartament w centrum Warszawy</a></h4>
									<ul class="fields">
										<li><strong>Miasto:</strong> Warszawa</li>
										<li><strong>Dzielnica:</strong> Mokotów</li>
									</ul>
									<p class="price">4 680 000 <small>PLN</small></p>
									<p class="meta">
										<span class="left"><i class="icon-offer-area"></i> 12226 m<sup>2</sup></span>
										<span class="right"><i class="icon-offer-bedroom"></i> 969</span>
									</p>
								</div>
								<!-- .body -->

								<nav class="side">
									<ul>
										<li><a href="#" data-toggle="tooltip" title="Zapytaj o cenę"><i class="icon-offer-question"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Dodaj do schowka"><i class="icon-offer-clipboard"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Zobacz więcej" class="block"><i class="icon-offer-more"></i></a></li>
									</ul>
								</nav>
								<!-- .side -->
							</article>
						</div>
						<!-- .offer -->
					</div>
					<!-- .col-md-4 -->
				</div>
				<!-- .row -->
			</section>
			<!-- .entries -->
		</div>
		<!-- .widget.offers-carousel -->
	</section>
	<!-- .home-section -->

	<section class="home-section well-gray">
		<div class="widget offers-featured container">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<article class="offer big">
						<figure>
							<a href="#"><img src="tmp/estate-featured-big-1.jpg" alt=""></a>
							<figcaption><a href="#">Luksusowy dom z pianinem i pięcioma krzesłami - 350.000 PLN</a></figcaption>
						</figure>
					</article>
					<!-- .offer -->
				</div>
				<!-- .col-md-6 -->

				<div class="col-md-3 col-sm-6">
					<article class="offer">
						<figure>
							<a href="#"><img src="tmp/estate-featured-1.jpg" alt=""></a>
							<figcaption><a href="#">Luksusowy dom z pianinem i pięcioma krzesłami</a></figcaption>
						</figure>
					</article>
					<!-- .offer -->

					<article class="offer">
						<figure>
							<a href="#"><img src="tmp/estate-featured-3.jpg" alt=""></a>
							<figcaption><a href="#">Luksusowy dom z pianinem i pięcioma krzesłami</a></figcaption>
						</figure>
					</article>
					<!-- .offer -->
				</div>
				<!-- .col-md-3 -->

				<div class="col-md-3 col-sm-6">
					<article class="offer">
						<figure>
							<a href="#"><img src="tmp/estate-featured-2.jpg" alt=""></a>
							<figcaption><a href="#">Luksusowy dom z pianinem i pięcioma krzesłami</a></figcaption>
						</figure>
					</article>
					<!-- .offer -->

					<article class="offer">
						<figure>
							<a href="#"><img src="tmp/estate-featured-4.jpg" alt=""></a>
							<figcaption><a href="#">Luksusowy dom z pianinem i pięcioma krzesłami</a></figcaption>
						</figure>
					</article>
					<!-- .offer -->
				</div>
				<!-- .col-md-3 -->
			</div>
			<!-- .row -->
		</div>
		<!-- .widget.offers-featured -->
	</section>
	<!-- .home-section -->

	<section class="home-section">
		<div class="widget offers-carousel no-border container">
			<div class="header">
				<h2><a href="#">Wynajem długoterminowy</a></h2>
				
				<div class="toolbar">
					<span class="links"><a href="#">Zobacz wszystkie</a></span>
					<span class="carousel-controller"><a href="javascript:void(0);" class="prev">Poprzednie</a> <a href="javascript:void(0);" class="next">Następne</a></span>
				</div>
				<!-- .toolbar -->
			</div>
			<!-- .header -->

			<section class="entries">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="offer">
							<figure>
								<a href="#"><img src="tmp/estate-thumb-1.jpg" alt=""></a>
								<figcaption><span>Na wyłączność</span></figcaption>
							</figure>

							<article>
								<div class="body">
									<h4><a href="#">Luksusowy apartament w centrum Warszawy</a></h4>
									<ul class="fields">
										<li><strong>Miasto:</strong> Warszawa</li>
										<li><strong>Dzielnica:</strong> Mokotów</li>
									</ul>
									<p class="price">4 680 000 <small>PLN</small></p>
									<p class="meta">
										<span class="left double"><i class="icon-offer-area"></i> 1222  m<sup>2</sup> <small>(dom)</small><br>12226 m<sup>2</sup> <small>(działka)</small></span>
										<span class="right"><i class="icon-offer-bedroom"></i> 969</span>
									</p>
								</div>
								<!-- .body -->

								<nav class="side">
									<ul>
										<li><a href="#" data-toggle="tooltip" title="Zapytaj o cenę"><i class="icon-offer-question"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Dodaj do schowka"><i class="icon-offer-clipboard"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Zobacz więcej" class="block"><i class="icon-offer-more"></i></a></li>
									</ul>
								</nav>
								<!-- .side -->
							</article>
						</div>
						<!-- .offer -->
					</div>
					<!-- .col-md-4 -->

					<div class="col-md-4 col-sm-6">
						<div class="offer">
							<figure>
								<a href="#"><img src="tmp/estate-thumb-2.jpg" alt=""></a>
								<figcaption><span>Na wyłączność</span></figcaption>
							</figure>

							<article>
								<div class="body">
									<h4><a href="#">Luksusowy apartament w centrum Warszawy</a></h4>
									<ul class="fields">
										<li><strong>Miasto:</strong> Warszawa</li>
										<li><strong>Dzielnica:</strong> Mokotów</li>
									</ul>
									<p class="price">4 680 000 <small>PLN</small></p>
									<p class="meta">
										<span class="left"><i class="icon-offer-area"></i> 12226 m<sup>2</sup></span>
										<span class="right"><i class="icon-offer-bedroom"></i> 969</span>
									</p>
								</div>
								<!-- .body -->

								<nav class="side">
									<ul>
										<li><a href="#" data-toggle="tooltip" title="Zapytaj o cenę"><i class="icon-offer-question"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Dodaj do schowka"><i class="icon-offer-clipboard"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Zobacz więcej" class="block"><i class="icon-offer-more"></i></a></li>
									</ul>
								</nav>
								<!-- .side -->
							</article>
						</div>
						<!-- .offer -->
					</div>
					<!-- .col-md-4 -->

					<div class="col-md-4 col-sm-6">
						<div class="offer">
							<figure>
								<a href="#"><img src="tmp/estate-thumb-3.jpg" alt=""></a>
								<figcaption><span>Nowa oferta | Na wyłączność</span></figcaption>
							</figure>

							<article>
								<div class="body">
									<h4><a href="#">Luksusowy apartament w centrum Warszawy</a></h4>
									<ul class="fields">
										<li><strong>Miasto:</strong> Warszawa</li>
										<li><strong>Dzielnica:</strong> Mokotów</li>
									</ul>
									<p class="price">4 680 000 <small>PLN</small></p>
									<p class="meta">
										<span class="left"><i class="icon-offer-area"></i> 12226 m<sup>2</sup></span>
										<span class="right"><i class="icon-offer-bedroom"></i> 969</span>
									</p>
								</div>
								<!-- .body -->

								<nav class="side">
									<ul>
										<li><a href="#" data-toggle="tooltip" title="Zapytaj o cenę"><i class="icon-offer-question"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Dodaj do schowka"><i class="icon-offer-clipboard"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Zobacz więcej" class="block"><i class="icon-offer-more"></i></a></li>
									</ul>
								</nav>
								<!-- .side -->
							</article>
						</div>
						<!-- .offer -->
					</div>
					<!-- .col-md-4 -->
				</div>
				<!-- .row -->
			</section>
			<!-- .entries -->
		</div>
		<!-- .widget.offers-carousel -->
	</section>
	<!-- .home-section -->

	<section class="home-section">
		<div class="widget offers-carousel container">
			<div class="header">
				<h2><a href="#">Inwestycje apartamentowe</a></h2>
				
				<div class="toolbar">
					<span class="links"><a href="#">Zobacz wszystkie</a></span>
					<span class="carousel-controller"><a href="javascript:void(0);" class="prev">Poprzednie</a> <a href="javascript:void(0);" class="next">Następne</a></span>
				</div>
				<!-- .toolbar -->
			</div>
			<!-- .header -->

			<section class="entries">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="offer">
							<figure>
								<a href="#"><img src="tmp/estate-thumb-1.jpg" alt=""></a>
								<figcaption><span>Na wyłączność</span></figcaption>
							</figure>

							<article>
								<div class="body">
									<h4><a href="#">Luksusowy apartament w centrum Warszawy</a></h4>
									<ul class="fields">
										<li><strong>Miasto:</strong> Warszawa</li>
										<li><strong>Dzielnica:</strong> Mokotów</li>
									</ul>
									<p class="price">4 680 000 <small>PLN</small></p>
									<p class="meta">
										<span class="left"><i class="icon-offer-area"></i> 12226 m<sup>2</sup></span>
										<span class="right"><i class="icon-offer-bedroom"></i> 969</span>
									</p>
								</div>
								<!-- .body -->

								<nav class="side">
									<ul>
										<li><a href="#" data-toggle="tooltip" title="Zapytaj o cenę"><i class="icon-offer-question"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Dodaj do schowka"><i class="icon-offer-clipboard"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Zobacz więcej" class="block"><i class="icon-offer-more"></i></a></li>
									</ul>
								</nav>
								<!-- .side -->
							</article>
						</div>
						<!-- .offer -->
					</div>
					<!-- .col-md-4 -->

					<div class="col-md-4 col-sm-6">
						<div class="offer">
							<figure>
								<a href="#"><img src="tmp/estate-thumb-2.jpg" alt=""></a>
								<figcaption><span>Na wyłączność</span></figcaption>
							</figure>

							<article>
								<div class="body">
									<h4><a href="#">Luksusowy apartament w centrum Warszawy</a></h4>
									<ul class="fields">
										<li><strong>Miasto:</strong> Warszawa</li>
										<li><strong>Dzielnica:</strong> Mokotów</li>
									</ul>
									<p class="price">4 680 000 <small>PLN</small></p>
									<p class="meta">
										<span class="left"><i class="icon-offer-area"></i> 12226 m<sup>2</sup></span>
										<span class="right"><i class="icon-offer-bedroom"></i> 969</span>
									</p>
								</div>
								<!-- .body -->

								<nav class="side">
									<ul>
										<li><a href="#" data-toggle="tooltip" title="Zapytaj o cenę"><i class="icon-offer-question"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Dodaj do schowka"><i class="icon-offer-clipboard"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Zobacz więcej" class="block"><i class="icon-offer-more"></i></a></li>
									</ul>
								</nav>
								<!-- .side -->
							</article>
						</div>
						<!-- .offer -->
					</div>
					<!-- .col-md-4 -->

					<div class="col-md-4 col-sm-6">
						<div class="offer">
							<figure>
								<a href="#"><img src="tmp/estate-thumb-3.jpg" alt=""></a>
								<figcaption><span>Nowa oferta | Na wyłączność</span></figcaption>
							</figure>

							<article>
								<div class="body">
									<h4><a href="#">Luksusowy apartament w centrum Warszawy</a></h4>
									<ul class="fields">
										<li><strong>Miasto:</strong> Warszawa</li>
										<li><strong>Dzielnica:</strong> Mokotów</li>
									</ul>
									<p class="price">4 680 000 <small>PLN</small></p>
									<p class="meta">
										<span class="left"><i class="icon-offer-area"></i> 12226 m<sup>2</sup></span>
										<span class="right"><i class="icon-offer-bedroom"></i> 969</span>
									</p>
								</div>
								<!-- .body -->

								<nav class="side">
									<ul>
										<li><a href="#" data-toggle="tooltip" title="Zapytaj o cenę"><i class="icon-offer-question"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Dodaj do schowka"><i class="icon-offer-clipboard"></i></a></li>
										<li><a href="#" data-toggle="tooltip" title="Zobacz więcej" class="block"><i class="icon-offer-more"></i></a></li>
									</ul>
								</nav>
								<!-- .side -->
							</article>
						</div>
						<!-- .offer -->
					</div>
					<!-- .col-md-4 -->
				</div>
				<!-- .row -->
			</section>
			<!-- .entries -->
		</div>
		<!-- .widget.offers-carousel -->
	</section>
	<!-- .home-section -->

	<script>document.getElementsByClassName('main-navigation')[0].className = 'main-navigation';</script>

<!-- @include{.footer.html} -->